:root {
    --primary: #b6895b;
    --bg: #010101;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header span {
    color: #b6895b;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    margin-bottom: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    margin: 3rem 5rem;
}

h2 {
    color: #35424a;
}

body span {
    color: #b6895b;
}

.galeri-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galeri-item {
    width: 45%;
    margin-bottom: 20px;
}

.galeri-item img {
    width: 100%;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #35424a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Menghilangkan dot pada daftar di bagian tertentu */
ul {
    list-style-type: none;
}
